.nav {
    background-color: rgb(235, 235, 187);
    text-align: center;
    margin: 0;
    display: inline-block;
    padding-block-start: 0;
    padding: 0;
    padding-right:5px;
    width:100%;
    top:0;
    min-height: 10px;
    position: fixed;
    border-radius: 5px;
  }

  .menu  {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

.body {
    margin-top:20%;
    color: rgb(58, 52, 43);
    font-size: medium;
}

.rectangle {
    background-color: rgb(167, 186, 209);
    text-align: center;
  }

  .display {
      border: 2px solid rgba(88, 182, 236, 0.568);
      padding:10px;
      background-color: rgb(94, 125, 160);
      border-radius: 5px;
  }
.contain {
    display: flex;
    flex-direction: column;
    background-color: rgb(127, 208, 255);
    text-align: center;
    margin: auto;
    padding: 0;
}

.row{
    display: inline-block;
    text-align: center;
    /* direction: ltr; */
}

.single {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero {
    padding:30px;
    margin: 10px;
    background-color: rgba(45, 146, 177, 0.609);
    border-radius: 50%;
}

.arth {
    display:inline-block;

}
.number {
    padding:30px;
    margin: 10px;
    background-color: rgba(45, 146, 177, 0.609);
    border-radius: 50%;
}
